"style.css"
/* GLOBAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f4f7ff;
    color: #222;
}

/* HEADER */
header {
    background: #0b3d0b; /* hijau tua khas pencak silat */
    color: white;
    padding: 25px;
    text-align: center;
    box-shadow: 0 3px 8px rgba(0,0,0,0.3);
}

/* SECTION */
.section {
    max-width: 900px;
    margin: 50px auto;
    padding: 25px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h2 {
    margin-bottom: 15px;
}

/* FORM */
form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input, select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    padding: 12px;
    background: #0b3d0b;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background: #115511;
}

/* OUTPUT LIST */
.output {
    margin-top: 25px;
}

#daftarHadir li {
    list-style: none;
    background: #e8f5e8;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 6px;
    border-left: 4px solid #0b3d0b;
    font-weight: 500;
}

/* FOOTER */
footer {
    text-align: center;
    margin-top: 40px;
    padding: 18px;
    background: #0b3d0b;
    color: white;
}
